footer {
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
    background: #1E1E1E;
    box-shadow: -3px -3px 1em rgb(117, 117, 117);
}
.github,
.linkedin {
    width: 36px;
}
.github a,
.linkedin a {
    width: inherit;
}

.github img,
.linkedin img {
    width: inherit;
}
